<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Use correct character set. -->
    <meta charset="utf-8">
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Hello World!</title>
    <script src="./Build/Cesium/Cesium.js"></script>
    <style>
        @import url(./Build/Cesium/Widgets/widgets.css);

        html, body, #cesiumContainer {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .overlay
        {
             position: absolute;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
             background-color: rgba(0, 0, 0, 0.85);
             z-index: 9999;
             color: white;
             display: inline-block;
         }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div id="content" class="row">
    <div class="col-lg-4">
        <div id="menu-pushpin" class="overlay" style="height:calc(100vh);">
            <div style="position:relative;padding-bottom:56.25%">
                <iframe id="video" src="https://www.youtube.com/embed/RtU_mdL2vBM?ecver=2" width="640" height="360"
                        frameborder="0"
                        style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>
            </div>
            <div class="pre-scrollable" style="max-height: calc(100vh); height:calc(100vh-353px);">
                <a  class="twitter-timeline"  href="https://twitter.com/Space_Station">Tweets by
                    Space_Station</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
    <div id="cesiumContainer" style="height: calc(100vh);"></div></div>
</div>


  <script>
    var viewer = new Cesium.Viewer('cesiumContainer');
    var scene = viewer.scene;
    var modelMatrix = Cesium.Transforms.eastNorthUpToFixedFrame(Cesium.Cartesian3.fromDegrees(-75.62898254394531, 40.02804946899414, 100000.0));
    // var model = scene.primitives.add(Cesium.Model.fromGltf({
    //   url : './SpaceStation/model.gltf',
    //   modelMatrix : modelMatrix,
    //   scale : 20000.0
    // }));

    //Enable lighting based on sun/moon positions
    // viewer.scene.globe.enableLighting = true;

    //Set the random number seed for consistent results.
    Cesium.Math.setRandomNumberSeed(3);

    //Set bounds of our simulation time
    var start = Cesium.JulianDate.fromDate(new Date(2017, 4, 30, 16));
    var stop = Cesium.JulianDate.addSeconds(start, 3600, new Cesium.JulianDate());

    //Make sure viewer is at the desired time.
    viewer.clock.startTime = start.clone();
    viewer.clock.stopTime = stop.clone();
    viewer.clock.currentTime = start.clone();
    viewer.clock.clockRange = Cesium.ClockRange.LOOP_STOP; //Loop at the end
    // viewer.clock.multiplier = 10;

    //Set timeline to simulation bounds
    viewer.timeline.zoomTo(start, stop);

    //Generate a random circular pattern with varying heights.


    function computeFlight(lon, lat){
      var property = new Cesium.SampledPositionProperty();
      for (var i = 0; i <= 360; i +=1) {
          var time = Cesium.JulianDate.addSeconds(start, i*10 , new Cesium.JulianDate());
          var position = Cesium.Cartesian3.fromDegrees(i-180, lat, 100);
          property.addSample(time, position);

          //Also create a point for each sample we generate.
          viewer.entities.add({
              position : position,
              point : {
                  pixelSize : 8,
                  color : Cesium.Color.TRANSPARENT,
                  outlineColor : Cesium.Color.TRANSPARENT,
                  outlineWidth : 1
              }
          });
      }
      return property;
    }

    //Compute the entity position property.
    var position = computeFlight(-180, 0);

    //Actually create the entity
    var entity = viewer.entities.add({

        //Set the entity availability to the same interval as the simulation time.
        availability : new Cesium.TimeIntervalCollection([new Cesium.TimeInterval({
            start : start,
            stop : stop
        })]),

        //Use our computed positions
        position : position,

        //Automatically compute orientation based on position movement.
        orientation : new Cesium.VelocityOrientationProperty(position),

        //Load the Cesium plane model to represent the entity
        model : {
            uri : './SpaceStation/model.gltf',
            minimumPixelSize : 200
        },

        //Show the path as a pink line sampled in 1 second increments.
        path : {
            resolution : 1,
            material : new Cesium.PolylineGlowMaterialProperty({
                glowPower : 0.1,
                color : Cesium.Color.WHITE
            }),
            width : 1
        }


        });


    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script>
        $('#link').click(function () {
            $('.overlay').toggle();
            $("#video")[0].src += "&autoplay=1";
        });
    </script>


</body>
</html>
